<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">

  <!-- Custom CSS -->
  <style>
    .block {
      width: 100%;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      letter-spacing: 0.025em;
    }

    .block-img-overlay {
      color: #fff;
      height: 100%;
      padding: 15px 1rem;
      background-color: rgba(25, 25, 25, 0.62);
    }
  </style>

  <title>
    {%if page.title %}
        {{ page.title }}
    {% else %}
        {{ site.title }}
    {% endif %}
  </title>

  {% include favicon.html %}

  {% seo %}
</head>
